@page
@model Garden_Helper_Site.Pages.Plants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.water_interval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.water_interval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.time_till_water)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.time_till_water)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.fertilizer_interval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.fertilizer_interval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.time_till_fertilizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.time_till_fertilizer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.maintenance_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.maintenance_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.maintenance_interval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.maintenance_interval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.time_till_maintenance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.time_till_maintenance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.plant_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.plant_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.growing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.growing)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plant?.ID">Edit</a> |
    <a asp-page="./Index">Back to My Garden</a>
</div>
