@page
@model Garden_Helper_Site.Pages.Plants.IndexModel

@{
    ViewData["Title"] = "My Garden";
}

<h1>Garden</h1>

<p>
    <a asp-page="Create">Plant Something New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].water_interval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].time_till_water)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].fertilizer_interval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].time_till_fertilizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].maintenance_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].maintenance_interval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].time_till_maintenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].plant_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant[0].growing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.water_interval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_till_water)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fertilizer_interval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_till_fertilizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maintenance_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maintenance_interval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_till_maintenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plant_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.growing)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>